.card-saldo {
  background-color: #fff;
  border: 2px solid #eceff1;
  border-radius: 20px;
  width: 234px;
  height: 320px;
  position: relative;
  text-align: center;
  float: left;
  margin-right: 30px;
  margin-top: 30px;
  font-weight: 400;
  line-height: 1.5;
  color: #292b2c;
}

.card-saldo-title {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #292b2c;
}

.card-saldo-title p {
  color: #90a4ae;
}

.card-saldo-all {
  margin-left: 60px;
  margin-bottom: 100px;
}

.card-retiros {
  position: relative;
  top: 100px;
  padding: 100px;
}

.precioredondo {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: rgba(236, 239, 241, 0.3);
  border-radius: 100%;
  margin-top: 40px;
  width: 150px;
  height: 150px;
  padding: 20px;
  margin-bottom: 10px;
}

.precioredondo h1 {
  font-weight: 700;
  color: #253238;
  line-height: 32px;
  margin-top: 12px;
}

.precioredondo h4 {
  font-weight: 400;
  color: #253238;
  line-height: 32px;
  margin-top: 12px;
}

.btn-saldo {
  margin-top: 80px;
  width: 150%;
  height: auto;
  margin-left: -25px;
  border-radius: 50px;
  color: white;
  font-weight: 700;
  padding: 10px 10px;
  position: relative;
  border: none;
  background-color: #90a4ae;
}

.btn-saldo1 {
  margin-top: 80px;
  width: 150%;
  height: auto;
  margin-left: -25px;
  border-radius: 50px;
  color: white;
  font-weight: 700;
  padding: 10px 10px;
  position: relative;
  border: none;
  background-color: #95ca3e;
}

.card-saldo spam {
  position: relative;
  top: 10px;
  background-color: #a4c967;
  padding: 5px;
  color: #5d9501;
  font-weight: 700;
  font-size: 13px;
  border-radius: 50px;
}

.card-saldo p {
  color: #95ca3e;
  font-size: 1rem;
  font-weight: 700;
}

.saldofiltro p {
  margin-bottom: 5px;
  margin-top: 30px;
  color: #aaa;
}

.filtroretiros {
  border: 1px solid #95ca3e;
  text-decoration: none;
  color: #95ca3e;
  border-radius: 5px;
  text-transform: uppercase;
}
