.card-content {
  padding: 10px 30px 40px 30px;
}

.order-card-title {
  text-align: center;
  padding-bottom: 15px;
}

.o-name {
  color: #95ca3e;
}

.o-name span {
  color: #1c3643;
}
/* .table-btn-green{
    background-color: #95CA3E;
    padding: 5px 15px 5px 15px;
    border-radius: 20px;
    color: #fff;
  }   
  .table-btn-black{
    background-color:  #1C3643;
    padding: 5px 20px 5px 20px;
    border-radius: 20px;
    color: #fff;
  }   
  .table-btn-green:hover{
    text-decoration: none;
    color: white;
  }   

  .table-btn-black:hover{
    text-decoration: none;
    color: white;
  }   

  .table-btn-red{
    background-color:  #CA3E3E;
    padding: 5px 15px 5px 15px;
    border-radius: 20px;
    color: #fff;
  }   

  .table-btn-red:hover{
    text-decoration: none;
    color: white;

  }    */

.progress-bar {
  background-color: transparent !important;
}

.progress-bar-container {
  margin: 0 auto;
  padding-top: 30px;
  width: 80%;
  padding-bottom: 40px;
}

.progress-bar-container .progress-bar {
  position: relative;
}

.progress-bar-container .progress-bar__bar {
  align-self: center;
  background: #dfdfdf;
  flex-grow: 1;
  height: 5px;
}

.progress-bar-container .progress-bar__bar--completed {
  background: #95ca3e;
}

.progress-bar-container .progress-bar__circles {
  display: flex;
}

.progress-bar-container .progress-bar__circle {
  background: #ffffff;
  border-radius: 50%;
  border: 5px solid #dfdfdf;
  color: #b2b5ba;
  cursor: pointer;
  height: 50px;
  line-height: 48px;
  position: relative;
  text-align: center;
  width: 50px;
}

.progress-bar-container .progress-bar__circle--completed {
  background: #27bb95;
  border-color: #27bb95;
}

.progress-bar-container .progress-bar__circle--completed .number {
  color: #fff;
  font-size: 1.8em;
}

.progress-bar-container .progress-bar__circle--selected {
  border-color: #95ca3e;
  color: #95ca3e;
}

.progress-bar-container .progress-bar__circle .number {
  font-size: 1.4em;
  font-weight: bold;
}

.progress-bar-container .progress-bar__circle__label {
  top: 100%;
  color: #1c3643;
  font-weight: bold;
  left: 50%;
  margin-bottom: 4px;
  margin-left: -50px;
  position: absolute;
  text-align: center;
  width: 100px;
}

.progress-bar-container .progress-bar__bar--not-completed {
  background: #ca3e3e !important;
}

.progress-bar-container .progress-bar__circle--not-selected {
  border-color: #ca3e3e !important;
  color: #ca3e3e !important;
}
