.cont {
  margin-bottom: 50px;
}

/* you can make up upload button and sample style by using stylesheets */
.ant-upload-select-picture-card i {
  font-size: 32px;
  color: #999;
}

.imGpreview{
  width: 130px;
  height: 150px;
  float: left;
  margin-right: 50px;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 20px;
}

.ant-upload-1{
  justify-content: center;
  text-align: center;
  padding-top: 35px;
  width: 120px;
  height: 120px;
  border: 2px dashed #ddd;
  color: #95ca3e;
}

.ant-upload-1:hover{
  border: 2px dashed #95ca3e;
  color: #ddd;

}

.ant-upload-select-picture-card .ant-upload-text {
  margin-top: 8px;
  color: #666;
}

.code-box-demo .ant-select {
  margin: 0 8px 10px 0;
}

#components-select-demo-search-box .code-box-demo .ant-select {
  margin: 0;
}

.dias {
  margin-bottom: 30px;
}

.horas {
  margin-bottom: 20px;
  width: 650px;
  padding: 10px;
}

.image-loader{
  align-items: center;
  text-align: center;
  align-content: center;
  align-self: center;
}

.ant-time-picker-input{
  padding-right: 20px;
}

.containerhoras{
  width: '100%';
  overflow-x: scroll;
}

.titulodelprod {
  margin-bottom: 30px;
}

.categi {
  margin-top: 30px;
  margin-bottom: 30px;
}

.botonpublic {
  margin-top: 80px;
}
