
.pagelogin11{
  position: relative;
  width: 100%;
  height: auto;
  background: white;
  overflow: hidden;
}


  .huy{
    width: 500px;
    height: auto;
    text-align: left;
  }

  .botyui{
    border: none;
    background-color: #95ca3e;
    padding: 2px 28px;
    margin-top: 30px;
    color: #1c3643;
    font-family: Helvetica;

  }

  
  .set h1 {
    color: #434343;
    font-family: Wallie, Helvetica;
    font-weight: 400;
    font-size: 40px;
    margin-top: 150px;
  }

  .set p{
    color: #434343;
    font-family: Wallie, Helvetica;
    font-weight: 300;
    font-size: 20px;
  }

  .cover-right1{
      margin-top: 816px;
  }

  .ant-col{
    margin-left: 0px;
  }
  .profesi{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px;
    align-self: left;
    justify-content: center;
  }

  set{
    text-align: center;
    display: flex;
    width: 350px;
    padding: 50px;
    flex-direction: column;
    align-items:left;
 
  }

  .regiterfomrs11{
    height: auto;
    text-align: left;
    padding: 30px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 50px;
    text-align: center;
  }

  .bot{
      color: #1c3643;
      background-color: #1e5372;
      padding: 10px 24px;
      font-size: 18px;
      border-radius: 5px;
      text-decoration: none;
     

  }
  .comofunciona__title1{
      text-align: center;

  }

  .itemS1{
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px;
    align-self: center;
    justify-content: center;
    padding-bottom: 200px;
    margin-top: 150px;
    
  }

  .SuBitems1{
    text-align: center;
    padding: 30px;
    display: flex;
    max-width: 350px;
    flex-direction: column;
    align-items: center;
    color: #1c3643;
    font-family: Helvetica;
    
  }

  .SuBitems1 h3{

    color: #1c3643;
    font-family: Helvetica;

  }


  .ICOn{
      font-size: 88px;
      color: #95ca3e;
      margin-bottom: 15px;
  }

  .bot:hover{
      color: white;
      text-decoration: none;
  }

  .comentariopro{
      width: 100%;
      height: auto;
      text-align: center;
      margin-bottom: 100px;

  }

  .line{
    margin-left: auto;
    margin-right: auto;
    height: 1px;
    background-color: #dbe1e4;
    text-align: center;
    width: 50%;
  }

  .loque{
      margin-top: 20px;
  }

  .icco{
      font-size: 60px;
      z-index: 10;
      margin-bottom: -70px;
      background-color: #ffffff;
      padding: 30px;
      color: #95ca3e;
  }

  .locat{
      margin-top: 50px;
      font-weight: 700;
  }

  @media (max-width: 600px) {
    
    .cover-right1{
      margin-top: 0px;
  }
  }

  @media (max-width: 780px) {
    .cover-right1{
      margin-top: 0px;
  }
 
  }

 

  
  
  