.contLogin1 {
  max-width: 290px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  }
  
  .iconsocial {
    background-color: #3b5998;
    padding: 10px 24px;
    color: #fff;
    border-radius: 50px;
    font-size: 14px;
    min-width: 220px;
    font-weight: bold;
    font-family: Helvetica;
   
   
  }
  
  .iconsocial1 {
    background-color: #26a7de;
    padding: 10px 24px;
    color: #fff;
    border-radius: 50px;
    font-size: 14px;
    min-width: 220px;
    font-weight: bold;
    font-family: Helvetica;
  }
  
  .iconsocial2 {
    background-color: #db4a39;
    padding: 10px 24px;
    color: #fff;
    border-radius: 50px;
    font-size: 14px;
    min-width: 220px;
    font-weight: bold;
    font-family: Helvetica;

  }
  .iconsocial:hover{
    color: #fff;

  }
  .iconsocial1:hover{
    color: #fff;

  }
  .iconsocial2:hover{
    color: #fff;

  }
  
  .socia {
    margin-bottom: 30px;
    width: 100%;
  }

  .socia a:hover{
    text-decoration: none;
  }
  