.cont {
    margin-bottom: 50px;
  }
  
  /* you can make up upload button and sample style by using stylesheets */
  .ant-upload-select-picture-card i {
    font-size: 32px;
    color: #999;
  }
  
  .ant-upload-1{
    justify-content: center;
    text-align: center;
    padding-top: 35px;
    width: 120px;
    height: 120px;
    border: 2px dashed #ddd;
    color: #95ca3e;
  }
  
  .ant-upload-1:hover{
    border: 2px dashed #95ca3e;
    color: #ddd;
  
  }
  
  .ant-upload-select-picture-card .ant-upload-text {
    margin-top: 8px;
    color: #666;
  }
  
  .code-box-demo .ant-select {
    margin: 0 8px 10px 0;
  }
  
  #components-select-demo-search-box .code-box-demo .ant-select {
    margin: 0;
  }
  
  .dias {
    margin-bottom: 30px;
  }
  
  .horas {
    margin-bottom: 20px;
  }
  
  .titulodelprod {
    margin-bottom: 30px;
  }
  
  .categi {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .botonpublic {
    margin-top: 80px;
  }
  
  .image-loader {
    border: 2px solid #f3f3f3 !important;
    border-radius: 50%;
    border-top: 2px solid #2D2D2D !important;
    width: 29px;
    height: 29px;
    margin:10px auto;
    -webkit-animation: spin_loader_ajax_small 2s linear infinite;
    animation: spin_loader_ajax_small 2s linear infinite;
  }
  
  @-webkit-keyframes spin_loader_ajax_small {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin_loader_ajax_small {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }