@media (max-width: 400px) {

           .Cardprod {
              margin: 30px;
              width: 220px;
                    }
    
      .imagenprodt {
        width: 218px;
        height: 120px;
      }
    }

    .category-card-producto {
      margin: 0 auto;
      max-width: 1280px;
      width: 100%;
      height: auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      
    }
    
    .filtroproductoSelect {
      margin-right: 20px;
      margin-top: 30px;
    }
    
    .filtroproductoSelect1 {
      margin-right: 20px;
    }
    
    .container-producto {
      width: 263px;
      height: 287px;
      background-color: white;
    }
    
    .imagenprodt {
      width: 300px;
      height: 200px;
      border-radius: 8px 8px 0px 0px;
      
    }
    
    .cargarmas{
      color: white;
      font-size: 18px;
      text-decoration: none;
      background-color: #95ca3e;
      padding: 14px 40px;
      border-radius: 5px;
    
    }
    
    .cargarmas:hover{
      color: white;
      font-size: 18px;
      text-decoration: none;
      background-color: #95ca3e;
      padding: 14px 40px;
      border-radius: 5px;
      box-shadow: 0px 1px 9px #95ca3e;
    }
    
    .imagenprodt1{
      width: 100%;
      height: 155px;
      border-radius: 7px 7px 0px 0px;
    }
    
    .Cardprod {
      margin: 10px;
      width: 300px;
      height: 520px;
      background: #FFFFFF;
      box-shadow: 0 2px 14px 0 rgba(0,0,0,.1);
      text-align: center;
      border-radius: 8px;
      
    }
    
    .Cardprod1 {
      margin: 10px;
      width: 248px;
      color: #434343;
      box-shadow: 3px 0 24px #ddd;
      border-radius: 7px;
      
    }
    
    .Avatarprod{
      width: 80px;
      height: 80px;
      margin-top: -50px;
      z-index: 10;
      border: 2px solid white;
      box-shadow: 0 1px 18px rgba(0,0,0,0.50);
      
    }
    
    .preciodato{
      margin-bottom: 0px;
      color: #95ca3e;
      font-size: 18px;
    }
    
    .ciiity{
      color: #464646;
      font-size: 12px;
    }
    
    .name{
      font-size: 18px;
      font-family: Helvetica;
      margin-top: 10px;
    }
    .nameprof{
      margin-top: -10px;
      margin-bottom: 10px;
    }
    
    .preciodescrip{
      text-align: left;
      padding: 20px;
      width:90%;
      overflow:hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      word-wrap: break-word;
    }
    
    
    .booooton:hover{
      color: #95ca3e;
    }
    
    .ant-btn-dashed{
      color: #95ca3e;
    }
    
    .ant-btn-dashed:hover{
      color: #95ca3e;
    }
    
    
    @media (max-width: 600px) {
      .category-card-producto {
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    
    .Cardprod {
      width: 180px;
      height: 420px;
      background: #FFFFFF;
      box-shadow: 0 2px 14px 0 rgba(0,0,0,.1);
      text-align: center;
      border-radius: 8px;
      
    }
    
    .imagenprodt {
      width: 180px;
      height: 130px;
      border-radius: 8px 8px 0px 0px;
      
    }
    
    
    .booooton{
      margin-top: -30px;
      width: 150px;
    }
    
      .imagenprodt1{
        width: 100%;
        height: 140px;
      }
    
    
    .Avatarprod{
      width: 50px;
      height: 50px;
      margin-top: -30px;
      z-index: 10;
      border: 1px solid white;
      box-shadow: 0 1px 18px rgba(0,0,0,0.50);
      
    }
    
    
    }
    
    @media (max-width: 410px) {
      .category-card-producto {
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    
    .Cardprod {
      width: 160px;
      height: 420px;
      background: #FFFFFF;
      box-shadow: 0 2px 14px 0 rgba(0,0,0,.1);
      text-align: center;
      border-radius: 8px;
      
    }
    
    .imagenprodt {
      width: 160px;
      height: 130px;
      border-radius: 8px 8px 0px 0px;
      
    }
    
    
    
    .booooton{
      margin-top: -30px;
      width: 150px;
    }
    
      .imagenprodt1{
        width: 100%;
        height: 140px;
      }
    
    
    .Avatarprod{
      width: 50px;
      height: 50px;
      margin-top: -30px;
      z-index: 10;
      border: 1px solid white;
      box-shadow: 0 1px 18px rgba(0,0,0,0.50);
      
    }
    
    
    }