.sellercard {
  width: 90%;
  height: auto;
  background-color: transparent;
  border-bottom: 1px solid #ddd;
  padding: 30px;
  font-size: 14px;
  line-height: 130%;
  text-align: center;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}

.profilecontact {
  width: 90%;
  height: auto;
  background-color: transparent;
  border-bottom: 1px solid #ddd;
  padding: 20px;
  font-size: 14px;
  margin-bottom: 3%;
  margin-left: auto;
  margin-right: auto;
}

.Card1 {
  margin-top: 70px;
  position: relative;
  width: 70%;
  min-height: 800px;
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
}

.profilepic {
  width: 150px;
  height: auto;
  opacity: 1;
  filter: alpha(opacity=100); /* For IE8 and earlier */
}

.profilepic:hover {
  opacity: 0.5;
  filter: alpha(opacity=80); /* For IE8 and earlier */
}

.online {
  border: 1px solid #1dbf73;
  color: #1dbf73;
  width: 80px;
  height: 20px;
  text-align: center;
  border-radius: 15px;
  position: relative;
  left: 70%;
}

.profilename {
  position: relative;
  color: #1c3643;
  font-size: 14px;
}

.verifiedimg {
  position: relative;
  width: 20px;
}

.profilebutton {
  text-align: center;
  text-decoration: none;
  margin-top: 20px;
  margin-bottom: 30px;
  border: 1px solid #ddd;
  color: #777777;
  padding: 10px 0;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  width: 100%;
  border-radius: 7px;
}

.profilebutton1 {
  color: #777777;
}

.profilebutton1:hover {
  color: #95ca3e;
  text-decoration: none;
}

.Locatefit {
  color: #95ca3e;
}

.point {
  color: #ffb33e;
}

.from {
  color: #777777;
  border-top: 1px solid #ddd;
  padding: 10px 0;
}
