.pagelogin111{
  position: relative;
  width: 100%;
  height: auto;
  background: url(portada.jpg);
  overflow: hidden;
  background-repeat: no-repeat;
}

.wave{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(wave.png);
  background-size: 1000px 100px;
}

.wave1{
  animation: animate 30s linear infinite;
  z-index: 30;
  opacity: 1;
  animation-delay: 0s;
  bottom: 0;
}

.wave2{
  animation: animate1 10s linear infinite;
  z-index: 29;
  opacity: 0.5;
  animation-delay: -5s;
  bottom: 10px;
}


.wave3{
  animation: animate 05s linear infinite;
  z-index: 28;
  opacity: 0.2;
  animation-delay: -2s;
  bottom: 15px;
}

.wave4{
  animation: animate1 15s linear infinite;
  z-index: 27;
  opacity: 0.7;
  animation-delay: -5s;
  bottom: 20px;
}


@keyframes animate{
  0%
  {
      background-position-x: 0;
  }
  100%
  {
      background-position-x: 1000px;
  }
}


@keyframes animate1{
  0%
  {
      background-position-x: 0;
  }
  100%
  {
      background-position-x: -1000px;
  }
}

.searchcate{
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 160px;
  margin-bottom: 200px;
}

.searchForm1{
  background-color: #ffffff;
  border-radius: 8px;
  padding: 25px 40px;
  margin-top: 5%;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);
}

.Category-sesion1 {
  background-color: #fff;
}

@media (max-width: 600px){
  .Category-sesion1 {
    background-color: #fff;
    padding-top: 60px;
  }

  .searchcate{
    width: 95%;
    margin-left:auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 150px;
  }

}


