.card-content {
  padding: 10px 30px 40px 30px;
}

.card-title {
  margin-bottom: 20px;
}

.nooota{
  margin-top: 20px;
}

.card-title h3 {
  font-weight: 700;
  font-family: Helvetica;
  color: #253238;
  font-size: 1.375rem;
}

.card-title p {
  font-size: 14px;
  color: #607d8b;
  margin-bottom: 0;
}

.cont {
  padding: 50px;
  background: #ffffff;
  border-radius: 5px;
  margin-top: 20px;
}

.content {
  background: #f2f2f2;
}

span.subtitle {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 16px;
}

.subtitle i {
  margin-right: 10px;
  font-size: 23px;
  color: #95ca3e;
}

.btnflex {
  display: flex;
  align-items: center;
}

.numerodepedido{
  text-align: left;
  width: 100px;
  padding-top: 20px;
  overflow:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-wrap: break-word; 
}
