.containerRegister {
  width:100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  justify-content: center;
  padding-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.regiterfomrs1 {
  width: 500px;
  height: auto;
  padding: 30px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 50px;
  margin-top: 100px;
 
}

.containerRegisteremail{
  width:100%;
  height: auto;
  text-align: center;
  padding-top: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  background-color: white;
}

.containerRegisteremailpasos{
  width: 70%;
  height: auto;
  display: flex;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

.btnloGinF p{
  width: 90%;
  height: auto;
  text-align: center;
  justify-content: center;
  padding-top: 60px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.btnloGin{
  background-color: #95ca3e;
  padding: 10px 24px;
  color: #fff;
  border-radius: 5px;
  margin-top: 30px;

}

.btnloGin:hover{
  color: #fff;

}



.ant-row{
  width: 100%;
  padding: 0px;
}

.ant-col-xs-24{
  width: 100%;

}

.regiterfomrs1 h3{
  margin-bottom: -5px;
  text-align: center

}

.regiterfomrs1 p{
  margin-bottom: 30px;
  text-align: center
  

}

.ImgEmail{
 width: 600px;
}

@media (max-width: 640px) {
  .ImgEmail{
    width: 300px;
   }
   
}




