.subscribeInput {
  background-color: #ffffff;
  padding-left: 20px;
  border: none;
  padding: 9px 18px;
  border: 1px solid #95ca3e;
  float: left;
  margin-right: 20px;
  width: 100%;
  margin-top: 10px;
}

.subscribeInputbotton {
  text-decoration: none;
  background-color: #95ca3e;
  color: #ffffff;
  border: none;
  padding: 10px 18px;
  margin-top: 20px;
  width: 100%;
}

.appss{
  margin-top: 20px;
  width: 200px;
  margin-left: 30px;
}

.app-store1{
  padding-bottom: 10px;
}

.subscribeInputbotton:hover {
  box-shadow: 0 1px 6px #95ca3e;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #c4c4c4;
}

.subscribeButton ::-moz-placeholder {
  /* Firefox 19+ */
  color: #c4c4c4;
}

.subscribeButton :-ms-input-placeholder {
  /* IE 10+ */
  color: #c4c4c4;
}

.subscribeButton :-moz-placeholder {
  /* Firefox 18- */
  color: #c4c4c4;
}

.subscribeButton p {
  margin-bottom: 0px !important;
}

.subscribeBgColor {
  background-color: #ffffff;
  padding-top: 40px;
  padding-bottom: 20px;
  border-top: 1px solid #95ca3e;
  
}

.bottomFooter {
  background: white;
  padding: 25px;
}

.logoTitle {
  position: relative;
  color: #1c3643;
  top: 30px;
}

.logoTitle1 {
  position: relative;
  color: #1c3643;
  top: 25px;
  text-align: center;
  font-family: Wallie, Helvetica;
  font-size: 11px;
}

.footerLabel {
  color: #95ca3e;
}

ul.footerLink {
  margin-left: 0;
  padding-left: 0;
  top: 20px;
}

ul.footerLink li {
  position: relative;
  list-style-type: none;
  color: #1c3643;
  top: 20px;
}

ul.footerLink li a {
  color: #1c3643;
}

.footerDropdown {
  border-color: #95ca3e;
  border-radius: 5px;
  color: #1c3643;
  margin-left: 20px;
}

.footerDropdown .btn:hover {
  color: #1c3643;
}

.subscribeText {
  color: #1c3643;
  font-family: Wallie, Helvetica;
  font-size: 20px;
}

.dropdown-item {
  color: #1c3643;
  margin-left: 0px;
  margin-right: 5px;
}

.flag {
  margin-left: 0px;
  margin-right: 15px;
}

.redesfooter {
  position: relative;
  margin-top: 40px;
}

.redesfooter1 {
  color: #1c3643;
  text-decoration: none;
  margin-right: 10px;
}

.redesfooter1:hover {
  color: #4267b2;
  text-decoration: none;
}

.redesfooter2 {
  color: #1c3643;
  text-decoration: none;
  margin-right: 10px;
}

.redesfooter2:hover {
  color: #1da1f2;
  text-decoration: none;
}

.redesfooter3 {
  color: #1c3643;
  text-decoration: none;
  margin-right: 15px;
}

.redesfooter3:hover {
  color: #803500;
  text-decoration: none;
}

.redesfooter4 {
  color: #1c3643;
  text-decoration: none;
  margin-right: 10px;
}

.redesfooter4:hover {
  color: #0073b1;
  text-decoration: none;
}

@media (max-width: 780px) {
  .bottomFooter .container,
  .bottomFooter .container .col-md-3,
  .bottomFooter .container .col-md-2 {
    padding: 20px;
  }

  .appss{
    margin-top: 20px;
    width: 200px;
    margin-left: 0px;
  }

  .footerDropdown {
    border-color: #95ca3e;
    border-radius: 5px;
    color: #1c3643;
    margin-left: 0px;
  }

   .subscribeText{
    width: 300px;
  }
  .subscribeInput{
    margin-bottom: 20px;
  }
  .bottomFooter .dropdown button.btn.footerDropdown.dropdown-toggle {
    font-size: 14px;
  }
}

@media (max-width: 600px) {
   .subscribeText{
    width: 300px;
  }

  .footerDropdown {
    border-color: #95ca3e;
    border-radius: 5px;
    color: #1c3643;
    margin-left: 0px;
  }

  .appss{
    margin-top: 20px;
    width: 200px;
    margin-left: 0px;
  }
}


@media (max-width: 992px) {
    .subscribeInput{
    margin-bottom: 20px;
    
  }

  .footerDropdown {
    border-color: #95ca3e;
    border-radius: 5px;
    color: #1c3643;
    margin-left: 0px;
  }

  .appss{
    margin-top: 20px;
    width: 200px;
    margin-left: 8px;
  }
}
