.navbar {
  position: relative;
  background-color: transparent;
  width: 100%;
  /* height: 60px; */
  padding: 20px 30px !important;
  text-align: center;
  background: white;
  position: fixed;
  z-index: 99;
}

.navbar.shadow {
  position: relative;
  background-color: transparent;
  width: 100%;
  /* height: 60px; */
  padding: 20px 30px !important;
  text-align: center;
  background: white;
  position: fixed;
  z-index: 99;
  box-shadow: 0 4px 12px 0 rgba(0,0,0,.08);
  border-bottom: 1px solid #ddd;
}

.usermovil{
  display: none;
}

.usernombre{
  margin-left: 5px;
  color: #253238;
  text-decoration: none;
  font-family: Helvetica;
  font-weight: 500;
  font-size: 16px;
}

.usernombre:hover{
  color: #253238;
}

.navbar-nav {
  flex-direction: row !important;
  align-items: center;
  justify-content: flex-end;
  color: #253238;
}

.navbar-brand {
  margin-left: 50px;
}

.navbar-brand img {
  height: 30px;
}

.navbar-collapse {
  justify-content: flex-end;
  color: #253238;
}

a.userprofile {
  display: inline-block;
}

a#navbarDropdown {
  display: inline-block;
}

li.nav-item {
  margin: 0 0px;
  color: #253238;
}

.navbar-nav .dropdown-menu {
  position: absolute;
  left: -160px;
  top: 50px;
}

.publicar {
  display: inline-block;
  margin-right: 50px;
}

.collapse {
  position: relative;
  top: 0px;
}

.dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: middle;
  content: "";
  border-top: 0.5em solid;
  border-right: 0.5em solid transparent;
  border-bottom: 0;
  border-left: 0.5em solid transparent;
}

.nameLogin {
  display: none;
  color: #253238;
}

.round_profile_pic {
  height: 40px;
  width: 40px;
  border-radius: 50px;
}

.round_profile_pic1 {
  height: 40px;
  width: 40px;
  border-radius: 50px;
  margin-top: 10px;
}

.rounded_button {
  border-radius: 5px;
  background-color: #95ca3e;
  color: #ffffff;
  font-family: Wallie, Helvetica;
  font-weight: 400;
  text-decoration: none;
  padding: 14px 24px;
  margin-left: 20px;
}

.rounded_button:hover {
  box-shadow: 0px 1px 10px #95ca3e;
  text-decoration: none;
  color: #ffffff;
}

.rounded_button1 {
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid #253238;
  color: #253238;
  font-family: Wallie, Helvetica;
  font-weight: 300;
  text-decoration: none;
  padding: 6px 14px;
  margin-right: 10px;
}

.rounded_button13 {
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid #253238;
  color: #253238;
  font-family: Wallie, Helvetica;
  font-weight: 300;
  text-decoration: none;
  padding: 6px 14px;
  margin-right: 50px;
}

.rounded_button1:hover {
  text-decoration: none;
  color: #95ca3e;
  border: 1px solid #95ca3e;
}

.rounded_button13:hover {
  text-decoration: none;
  color: #95ca3e;
  border: 1px solid #95ca3e;
}

.nav-link {
  font-family: Wallie, Helvetica;
  font-weight: 700;
  color: #253238;
}

.nav-link-icon {
  text-decoration: none;
  font-size: 30px;
  font-weight: 400;
  color: #253238;
  display: flex;
}

.nav-link-icon:hover {
  color: #95ca3e;
}


.submenu2 {
  float: left;
  text-decoration: none;
  display: flex;
}

.submenu2 a {
  display: block;
  color: #707174;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  display: flex;
}


.navbar-expand-lg {
  flex-flow: wrap !important;
}

.cardwishlist{
  width: 300px;
  height: auto;
  border-bottom: 1px solid #ddd;
  margin-top: 20px;
  padding-bottom: 20px;
}

.imgeWish{
  widows: 60px;
  height: 60px;
  border-radius: 5px;
}

.extras{
  text-align: center;
  margin-top: 5px;
}

.contenedor{
    height: 500px;
    overflow-y: scroll;
}

.notifications{
  height: 500px;
  padding: 10px;
  width: 350px;
  overflow-y: scroll;
}

.ListNot{
  border-bottom: 1px solid #ddd;
}

@media (max-width: 992px) {
  .navbar-nav .dropdown-menu {
    left: -51px;
  }

  .usermovil{
    display: none;
  }
}

@media (max-width: 768px) {
  .nameLogin {
    display: inline-block;
  }
  
  .navbar-nav .dropdown-menu {
    left: -61px;
  }

  li.nav-item {
    margin: 0 5px;
    color: #253238;
  }

  .usernombre{
    display: none;
    }


  .navbar {
    padding: 10px 5px !important;
  }

  .nav-link-icon {
    text-decoration: none;
    font-size: 30px;
    font-weight: 400;
    color: #253238;
    display: flex;
  }

  .navbar-brand {
    margin-left: 5px;
  }

  .publicar {
    margin-right: 0;
  }

  .usermovil{
    display: none;
  }
}

@media (max-width: 620px) {
  .publicar {
    display: none;
  }
  .usernombre{
    display: none;
    }

    li.nav-item {
      margin: 0px;
      color: #253238;
    }

    .notifications{
      width: 250px;
      padding: 10px;
    }

  .usermovil{
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    color: #253238;
    display: flex;
    margin-right: 20px;
  }

  .usermovil:hover{
    text-decoration: none;
    color: #95ca3e;
  }

  .rounded_button1{
    display: none;
  }

  .rounded_button13{
    display: none;
  }

  .userprofile{
    margin-right: 30px;
  }

  

  .filtroproductoSelect1 {
    margin-right: 15px !important;
  }
}

@media (max-width: 360px) {
  .navbar-brand img {
    height: 25px;
  }

  .filtroproductoSelect1 {
    margin-right: 10px !important;
  }

  .nav-link-icon {
    font-size: 30px;
  }

  .rounded_button1{
    display: none;
  }

  li.nav-item {
    margin: 0px;
    color: #253238;
  }

  .usermovil{
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    color: #253238;
    display: flex;
    margin-right: 20px;
  }

  .userprofile{
    margin-right: 20px;
  }

  .usernombre{
  display: none;
  }
}
