* {
  margin: 0;
  padding: 0;
  vertical-align: middle;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a,
a:hover {
  text-decoration: none;
}

.dflex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.container {
  width: 100%;
  padding-right: 25px;
  padding-left: 25px;
}

.btnflex {
  display: flex;
  align-items: center;
}

@media (min-width: 576px) {
  .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
}
