.containerproductplan {
  width: 100%;
  overflow: hidden;
}

.containerproductplan .section {
  margin: 0 auto;
  width: 100%;
}

.containerproductplan1 {
  max-width: 100%;
  overflow: hidden;
}

.puductoplam{
  margin-top: 0;
}

.containerproductplan1 .section1 {
  margin: 0 auto;
  max-width: 1080px;
  width: 100%;
}

.consli{
  margin-top: 80px;
}


.ImagenPro{
  width: 100%;
  height: 600px;
}

.opacity{
  background-color: #000;
  opacity: 0.6;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}
.IccONN{
margin-top: 4px; 
font-size: 20px; 
margin-right: 5px; 
color: #eb6;
}

.IccONN1{
  margin-top: 4px; 
  font-size: 20px; 
  margin-right: 5px; 
  color: #95ca3e;
  margin-left: 10px; 
  }

  .ant-btn-dashed:hover{
    color: #95ca3e;
    border-color: #95ca3e;
  }

.vendorinfo{
  width: 700px;
  margin-top: 180px;
  margin-left: -350px;
  left: 50%;
  z-index: 98;
  text-align: center;
  position: absolute;
}
.vendorinfo h4{
  color: white;
  font-size: 35px;
  text-align: center;
 
}
.ava{
  width: 130px;
  height: 130px;
  border: 2px solid #e6e7e8;
}

.containerproductplan .section h2 {
  margin-bottom: 0;
}

.containerproductplan .product-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 15px;
}

.page-loader {
  position: absolute;
  top: 520px;
  left: 49%;

}

.ant-input-number{
  width: 100%;
}

.cale{
 width: 450px; 
 border: 1px solid #d9d9d9;
 border-radius: 4px;
}

.iii{
  position: absolute;
  margin-top: 4px;
  margin-left: -20px;

}

.iii1{
  margin-left: 20px;
}

.ant-input-number-input-wrap{
  width: 100%;

}

.catn{
  width: 100%;
  margin-bottom: 20px;
}

.migas{
  width: 950px;
}

.seguro{
  width: 30px;
  margin-right: 10px;
  text-align: center;
}

.profesionl{
  text-align: center;
  padding: 30px;
}


.leudy{
  margin-top: -40px;
}
.cont1{
  width: 100%;
  height: auto;
  background-color: white;
  padding: 10px;
  margin-bottom: 20px;
}

.product-info p,
.product-info .ant-rate {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-right: 15px;
}

.product-info .anticon {
  margin-right: 5px;
}

.product-info .ant-rate {
  margin-top: -5px;
}

.startverify{
  margin-bottom: 30px;
}

.sticky-area {
  display: flex;
  justify-content: stretch;
  align-items: flex-start;
}

section .main-side {
  min-width: 0;
  flex: 2;
  border-right: 1px solid #e6e7e8;
}

section .side-menu {
  z-index: 7;
  position: sticky;
  display: block;
  margin-right: 0;
  margin-top: 0;
  background-color: white;
  min-width: 0;
  flex: 1;
  padding: 15px 0 15px 15px;
}

.side-menu .features {
  display: flex;
  justify-content: stretch;
  align-items: flex-start;
  border-bottom: 1px solid #e6e7e8;
  margin-bottom: 12px;
}
.side-menu .features > div {
  flex: 1;
  text-align: center;
  padding: 0 5%;
}

.side-menu .features .anticon {
  font-size: 20px;
  margin-bottom: 8px;
}

.mappsec{
  width: 100%;
  height: 25vh;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.dir{
  font-size: 20px;
  margin-top: -3px;
  margin-right: 5px;
}

.dir1{
  font-size: 20px;
  padding: 1px;
}


.diiiid{
  margin: 10px;
}

/* Product Price */
.product-price {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 0 15px 15px;
  border-bottom: 1px solid #e6e7e8;
  margin-bottom: 15px;
}

.product-price div {
  text-align: right;
}

.product-price p,
.product-price h4,
.product-price span {
  margin: 0;
}

.main-button {
  padding: 10px 0;
  height: auto;
  margin-bottom: 10px;
}

.SHAREICON {
  margin-right: 10px;
  font-size: 30px;
  margin-bottom: 30px;
  margin-top: 10px;
}

.contmasprodtittle {
  width: 100%;
  height: auto;
  text-align: center;
}

.diacompleto {
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px;
  align-self: center;
  justify-content: center;
}

.diacompleto1 {
  text-align: justify;
  padding: 30px;
  display: flex;
  max-width: 350px;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.product-plan-modal {
  width: 50%;
}

.product-plan-modal .steps-content {
  padding: 10px;
}

.contmasprodtittle h3 {
  padding: 20px;
}

.ant-drawer-content-wrapper {
  width: calc(100% - 40px) !important;
  max-width: 640px;
}

.disponi{
  margin-left: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.disponi p{
  text-align: justify;
}

.Innn{
  color: #95ca3e;
  position: absolute;
  margin-left: -20px;
  margin-top: 4px;

}

.faceb{
  text-decoration: none;
  font-size: 38px;
  color: #ddd;
}

.faceb:hover{
  color: #3b5998;
}

.twitter{
  text-decoration: none;
  font-size: 38px;
  color: #ddd;
}
.twitter:hover{
  color: #00acee;
}

.instagram{
  text-decoration: none;
  font-size: 38px;
  color: #ddd;
}
.instagram:hover{
  color: #c08d64;
}

.youtube{
  text-decoration: none;
  font-size: 38px;
  color: #ddd;
}

.youtube:hover{
  color: #0077b5;
}

.contas{
  margin-top: 20px;
}

@media (max-width: 800px) {
  .containerproductplan .cont {
    padding-left: 0;
  }
  
  .ImagenPro{
    width: 100%;
    height: 300px;
  }

  .opacity{
    background-color: #000;
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
  }

  .IccONN{
    margin-top: 4px; 
    font-size: 20px; 
    margin-right: 5px; 
    color: #eb6;
    }
    
    .IccONN1{
      margin-top: 4px; 
      font-size: 20px; 
      margin-right: 5px; 
      color: #95ca3e;
      margin-left: 5px; 
      }

  .vendorinfo{
    width: 400px;
    margin-top: 55px;
    margin-left: -200px;
    left: 50%;
    z-index: 98;
    text-align: center;
    position: absolute;
  }
  .vendorinfo h4{
    color: white;
    font-size: 25px;
    text-align: center;
   
  }

  .ava{
    width: 90px;
    height: 90px;
    border: 2px solid #e6e7e8;
  }



  .migas {
    display: none;
  }
  .cale{
    width: 450px; 
    border: 1px solid #d9d9d9;
    border-radius: 4px;
   }

  .side-menu h6 {
    font-size: 14px;
  }

  .side-menu h4 {
    font-size: 18px;
  }

  .product-price {
    padding-left: 5px;
  }

  .product-price p,
  .product-price span.ant-tag.tag {
    font-size: 11px !important;
  }

  .product-plan-modal {
    width: 80%;
  }
}

@media (max-width: 760px) {
  .containerproductplan .section {
    padding: 0;
  }

  .vendorinfo{
    width: 400px;
    margin-top: 50px;
    margin-left: -200px;
    left: 50%;
    z-index: 98;
    text-align: center;
    position: absolute;
  }
  .vendorinfo h4{
    color: white;
    font-size: 25px;
    text-align: center;
   
  }
  


  .IccONN{
    margin-top: 4px; 
    font-size: 18px; 
    margin-right: 5px; 
    color: #eb6;
    }
    
    .IccONN1{
      margin-top: 4px; 
      font-size: 18px; 
      margin-right: 5px; 
      color: #95ca3e;
      margin-left: 5px; 
      }
  
  .ava{
    width: 90px;
    height: 90px;
    border: 2px solid #e6e7e8;
  }

  .mappsec{
    width: 100%;
    height: 30vh;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .ImagenPro{
    width: 100%;
    height: 300px;
  }

  .opacity{
    background-color: #000;
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
  }


  .contmasprodtittle h3 {
    padding: 20px;
  }

  .containerproductplan .cont {
    padding: 7vw 0px 15px 0px;
    position: relative;
  }

  .containerproductplan .cont .container {
    padding: 0;
  }

  .sticky-area {
    flex-direction: column-reverse;
  }

  .sticky-area .side-menu {
    flex: 0;
    margin: 0 auto;
    position: static;
    width: 100%;
    padding: 10px 10px 15px 10px;
  }

  .cale{
    width: 300px; 
    border: 1px solid #d9d9d9;
    border-radius: 4px;
   }

  .sticky-area .main-side {
    border: 0;
    width: 100%;
    flex: 0;
  }

  .product-plan-modal {
    width: calc(100vw - 10px);
    margin-bottom: 70px;
  }

  .product-plan-modal .diacompleto {
    justify-content: space-between;
    padding: 0;
  }

  .product-plan-modal .diacompleto1 {
    padding: 5px;
    margin: 5px;
  }

  .product-plan-modal .ant-modal-body {
    padding: 12px;
  }

  .product-plan-modal .ant-fullcalendar-header {
    padding: 10px 0;
    text-align: center;
  }

  .ant-list-items li.ant-list-item {
    display: block !important;
  }

  .ant-carousel {
    position: absolute;
    top: 22px;
    left: 0px;
    z-index: 55;
    width: calc(100vw - 0px);
    height: calc(75vw - 10px);
  }

  .container h2{
    margin-bottom: 10px;
    margin-top: 20px;
  }
}

@media (max-width: 390px) {

  .vendorinfo{
    width: 350px;
    margin-top: 50px;
    margin-left: -175px;
    left: 50%;
    z-index: 98;
    text-align: center;
    position: absolute;
  }
  .vendorinfo h4{
    color: white;
    font-size: 25px;
    text-align: center;
   
  }
  

  .IccONN{
    margin-top: 4px; 
    font-size: 18px; 
    margin-right: 5px; 
    color: #eb6;
    }
    
    .IccONN1{
      margin-top: 4px; 
      font-size: 18px; 
      margin-right: 5px;
      margin-left: 5px; 
      color: #95ca3e;
      }
  
  .ava{
    width: 90px;
    height: 90px;
    border: 2px solid #e6e7e8;
  }

}
