.card-content11 {
  width: 1025px;
  min-height: 920px;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #eceff1;
  padding: 30px;
  margin-top: 50px;
}

.profilemenu1 {
  min-height: 920px;
}

.misprod {
  width: 100%;
}

.card-title {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
