.coverSection {
  padding: 50px 0;
}

.coverSection ul {
  margin-bottom: 0;
}

.cover-left h2 {
  margin-top: 50px;
  font-size: 25px;
  padding-bottom: 5%;
  color: #1c3643;
  font-family: Wallie, Helvetica;
  font-weight: 700;
}

.ul-cover li {
  margin-top: 15px;
  list-style-type: none;
}

.ul-cover1 {
  color: #1c3643;
  margin-left: 10px;
}

.ul-cover span {
  color: #8e8e8e;
  font-size: 14px;
  padding-left: 34px;
  display: block;
}

.ul-cover {
  padding-left: 0;
}

.cover-right {
  margin-top: 9px;
  margin-bottom: -25px;
  float: right;
}
