.phone{
  width: 400px;
  margin-left: 80px;
}

.MovilApp{
  flex-wrap: wrap;
  display: flex;
  align-self: center;
  justify-content: center;
  width: 100%;
}

.container1{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 50%;
}

.movilsec{
  margin: 20px;
  width: 45%;
  align-self: center;
  text-align: center;
}


.app-btns {
  display: flex;
}

.app-store {
  margin-right: 20px;
}

.serviceTitle {
  color: #1c3643;
  margin: 25px;
}

.serviceTitle h5 {
  line-height: 28px;
  max-width: 90%;
  font-size: 16px;
  color: #1c3643;
  font-family: Wallie, Helvetica;
  font-weight: 700;
  
}

.textee{
  margin-top: 0px;
}

.textee h1{
 color: #1c3643;
 font-weight: 700;
 font-size: 48px;
 text-align: left;
}

.textee p{
  color: #1c3643;
  font-weight: 400;
  font-size: 18px;
  text-align: left;
 }
.workLabel {
  color: #8e8e8e;
  font-size: 14px;
  margin-top: -30px;
  margin-left: 25px;
}
.startButton{
margin-left: -230px;
margin-top: 20px;
margin-bottom: 30px;
}
.startButton a {
  font-family: Helvetica;
  border-radius: 50px;
  background-color: #95ca3e;
  color: #ffffff;
  padding: 10px 40px;
  
}

.startButton a:hover {
  box-shadow: 0 1px 6px #95ca3e;
  text-decoration: none;
  color: white;
}

.mobileAppSection {
  background-color: white;
  padding: 50px 0;
}

.customerServiceCard {
  margin-bottom: 50px;
  background-color: #eceff1;
  background-position: 260px 0px;
  background-size: 130%;
  width: 100%;
  height: auto;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.custorme{
  width: auto;
  height: auto;
  margin-left: auto;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

@media (max-width: 600px) {
  .textee{
    margin-top: 0px;
  }

  .app-store {
    margin-right: 20px;
  }

  .movilsec{
    margin: 20px;
    width: 100%;
    align-self: center;
    text-align: center;
  }

  .custorme{
    display: none;
  }

  .container1{
    text-align: left;
    width: 100%;
  }

  .startButton{
    margin-top: 20px;
    margin-bottom: 30px;
    }

    .phone{
      width: 300px;
      margin-left: 0px;
    }
  
}

@media (max-width: 768px) {
 
  .textee{
    margin-top: 50px;
  }
 
  .movilsec{
    margin: 20px;
    width: 100%;
    align-self: center;
    text-align: center;
  }

  .custorme{
    display: none;
  }

  .container1{
    text-align: left;
    width: 100%;
  }

  .startButton{
    margin-top: 20px;
    margin-bottom: 30px;
    }
    .phone{
      width: 300px;
      margin-left: 0px;
    }
}

@media (max-width: 992px) {
  .textee{
    margin-top: 0px;
  }

  .movilsec{
    margin: 20px;
    width: 90%;
    align-self: center;
    text-align: center;
  }
  
  .loction-tag {
    text-align: right;
    color: #1c3643;
    font-family: Wallie, Helvetica;
    margin: 10px 0 30px 0;
    max-width: 480px;
    float: right;
  }

  .app-btns {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    clear: both;
  }

  .app-store {
    margin-right: 20px;
  }
  .phone{
    width: 300px;
    margin-left: 0px;
  }

  .movilsec{
    margin: 20px;
    width: 100%;
    align-self: center;
    text-align: center;
  }

  .custorme{
    display: none;
  }

  .container1{
    text-align: left;
    width: 100%;
  }

  .startButton{
    margin-top: 20px;
    margin-bottom: 30px;
    }

}
