.quet-section {
  background-color: #eceff1;
  padding: 40px 0;
}

.qut-li {
  list-style-type: none;
  display: inline-block;
  padding-left: 0;
  margin-bottom: 2px;
}

.qut-li li {
  display: inline-block;
  padding: 10px 20px 0 0px;
}

.qut-li li a {
  color: #95ca3e;
  font-weight: bold;
}

.quts-name2 {
  color: #1c3643;
  font-family: Wallie, Helvetica;
  font-size: 20px;
}
