.noscript {
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
  min-height: auto;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background-color: #cc0000;
  color: #fff;
}
