.main-wrapper {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  width: 100%;
  position: relative;
  /* overflow: hidden; */
}

.topnav {
  flex: 1;
  min-width: 70px;
  z-index: 0;
  height: 100%;
}


.page-content {
  flex: 10;
  min-width: 0;
  margin-top: 100px;
}

button.simple.ant-btn {
  height: auto;
  padding: 10px 0;
}

button.simple.ant-btn h3 {
  white-space: initial;
}

.toggle-nav {
  display: none;
}

@media (max-width: 1100px) {
  button.simple.ant-btn h3 {
    font-size: 12px;
    margin-top: 5px;
  }

  button.ant-btn.active.simple .anticon,
  button.ant-btn.simple .anticon {
    font-size: 16px;
  }

  button.simple.ant-btn {
    padding: 5px 0 0 0;
  }

  .ant-table {
    overflow: auto;
  }

  .topnav{
    height: 100%;
  }
}

@media (max-width: 640px) {
  .toggle-nav {
    width: 100%;
    text-align: center;
    line-height: 60px;
    color: #fff;
    display: block;
    font-size: 16px;
  }

  .topnav {
    padding: 0;
    position: fixed;
    top: -20px;
    left: 0;
    height: fit-content;
    z-index: 15;
    border-radius: 0 50% 50% 50%;
    overflow: hidden;
    min-width: 60px;

  }

  .topnav.visible-mobile {
    border-radius: 0;
    height: 100%;
  }

  .nav-items {
    display: none;
    padding-bottom: 50px;
    overflow-y: scroll;
  }

  .visible-mobile .nav-items {
    display: block;
  }

  .visible-mobile {
    width: 100%;
    flex: 0;
  }

  .visible-mobile .toggle-nav {
    text-align: left;
    padding-left: calc(5% + 8px);
  }

  .visible-mobile .ant-btn {
    flex-direction: row !important;
    justify-content: flex-start !important;
    padding: 5px 0 5px 5% !important;
  }

  .visible-mobile .ant-btn h3 {
    margin-left: 5%;
  }

  .container.mt-5 {
    padding: 15px 0 !important;
  }

  .container .cont {
    padding: 15px;
  }

  .ant-radio-group {
    display: block;
    width: 100%;
  }

  .ant-time-picker {
    width: 40% !important;
    margin-top: 10px;
  }

  .card-title {
    padding: 0 10px;
  }

  .cont .ant-card.ant-card-bordered {
    margin: 0 auto;
  }

  .startverify {
    margin: 0;
    width: 100%;
  }
}
