.topnav {
  background-color: #253238;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 82px;
}

.topnav .topnavtitle {
  color: rgba(255, 255, 255, 0.5);
  height: 60px;
  width: 60px;
  margin: 0 auto;
}

.iconoMenu {
  font-size: 25px;
  padding: 10px;
  display: block;
  text-align: center;
  margin-bottom: 10px;
  color: #9e9e9e;
  background: #2a383f;
  border-radius: 50%;
}

.row.nomargin {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.nopadding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

button.ant-btn.simple .anticon {
  font-size: 24px;
  background: #2a383f;
  padding: 10px;
  border-radius: 50%;
  color: #9e9e9e;
}

button.ant-btn.simple h3 {
  font-size: 14px;
  margin-top: 10px;
  color: #9e9e9e;
}

button.ant-btn.simple {
  background: transparent;
  border: none;
  border-radius: 0;
  width: 100%;
  margin-bottom: 20px;
}

button.ant-btn.simple:hover {
  background: #1d3643;
}

button.ant-btn.simple:hover .anticon {
  background: #2a383f;
}

button.ant-btn.active.simple {
  background: #f2f2f2;
}

button.ant-btn.active.simple .anticon {
  font-size: 24px;
  background: #95ca3e;
  padding: 10px;
  border-radius: 50%;
  color: #ffffff;
}

