.avatar-uploader > .ant-upload {
  width: 128px;
  height: 128px;
  margin-top: 30px;
  margin-bottom: 50px;
}

.dropbox {
  height: 180px;
  line-height: 1.5;
}

.fecha {
  margin-top: 30px;
  margin-bottom: 50px;
}

.reetablecer {
  margin-bottom: 20px;
  width: 100%;
  text-align: left;
}

.boton {
  margin-top: 50px;
  margin-bottom: 50px;
}

.fotodelperfil {
  margin-bottom: 50px;
}
