.category-title {
  color: #1c3643;
  text-align: center;
  text-decoration: none;
  margin-top: 150px;
}

.category-title a {
  padding: 2px 20px 2px 20px;
  border: 3px solid #95ca3e;
  border-radius: 5px;
  color: #1c3643;
  text-decoration: none;
  margin-bottom: 50px;
  text-decoration: none;
}

.category-title a:hover{
  text-decoration: none;
  color: #1c3643;
}

.category-cards {
  width: 100%;
  max-width: 1080px;
  padding: 15px;
  margin: 5px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

}

.page-loader-category{
  position: absolute;
  top: 1200px;
  left: 49%;
  
}

.category-cards .card {
  padding: 20px;
  height: 130px;
  max-width: 300px;
  border-radius: 10px;
  border-right: 5px solid #95ca3e;
  margin-bottom: 20px;
  flex-basis: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  color: #1c3643;
  box-shadow: 0 2px 14px 0 rgba(0,0,0,.1);
}

.category-cards img {
  width: 10%;
  flex: 1;
  margin-right: 25px;
}

.category-cards .card-info {
  flex: 5;
}

@media (max-width: 640px) {
  .category-cards {
    flex-direction: column;
  }

  .category-title {
    color: #1c3643;
    text-align: center;
    text-decoration: none;
    margin-top: 30px;
  }
}
