.pagelogin{
  width: 100%;
  height: auto;
  background: white
}

.coversLanding{
  width: 100%;
}


.ant-carousel .slick-slide {
  text-align: center;
  height: auto;
  line-height: auto;
  background: transparent;
  overflow: hidden;
}

.containerlanding{
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px;
  align-self: center;
  justify-content: center;
  height: auto; 
  width: 100%;
  margin-top: 5%;
}


.mobile-new-service {
  display: block;
  width: fit-content;
  position: fixed;
  bottom: 40px;
  left: 1%;
  z-index: 999;
}

.plusii{
  margin-right: 5px;
}

.barner1{
  width: 40%;
  height: 500px;
  margin-left: 5%;
}

.barner1 h1 {
  color: #253238;
  font-family: Helvetica;
  font-weight: 700;
  font-size: 40px;
  padding-top: 80px;
  
}


.searchForm {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 30px;
  box-shadow: 0 4px 12px 0 rgba(0,0,0,.08);
}

.searchForm h4 {
  color: #253238;
  font-family: Helvetica;
  font-weight: 700;
  margin-bottom: 20px;
}

.searchForm p {
  margin-top: 20px;
  font-family: Helvetica;
  color: #8e8e8e;
}

input::-webkit-input-placeholder {
  color: #607d8b;
}

.category {
  height: 35vh;
  clear: both;
}

.loc{
  text-decoration: none;
  color: #95ca3e;
}

.loc:hover{
  text-decoration: none;
  color: #95ca3e;
}

.carousel-item2 {
  color: #253238;
  font-family: Wallie, Helvetica;
  font-size: 14px;
}


.Comofuncional{
  width: 100%;
  height: auto;
  background: white;
  margin-left: auto;
  margin-right: auto;
}

.comofunciona__title{
  width: auto;
  height: 100px;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 100px;
}

.comofunciona__title h1{
  color: #253238;
  font-weight: 700;
  font-size: 32px;

}

.itemS{
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px;
  align-self: center;
  justify-content: center;
}

.SuBitems{
  text-align: center;
  padding: 30px;
  display: flex;
  max-width: 350px;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  color: #95ca3e;
}

.SuBitemsIcons{
  width: 300px;
  height:200px;
  margin-bottom: 15px;
}

.SuBitems p{
    font-family: Helvetica;
    color: #253238;
    font-size: 18px;
    font-weight: 200;
}


.SuBitems h3{
  font-family: Helvetica;
  color: #95ca3e;
  font-weight: 900;
  font-size: 25px;
}

.SuBitems h1{
  font-family: Helvetica;
  color: #253238;
  font-weight: 900;
  font-size: 35px;
}


@media (min-width: 410px) {
  .card-title h6 {
    color: #1c3643;
    text-decoration: none;
    margin-left: 0;
  }
  .card-cont {
    text-decoration: none;
    padding: 20px 0;
  }
  .img img {
    border-radius: 15px 0 0 15px;
  }
  
  .searchForm {
    max-width: 100%;
  }
}

@media (max-width: 1200px) {
  .searchForm {
    width: 100%;
  }

  .containerlanding{
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px;
    align-self: center;
    justify-content: center;
    margin-top: 80px; 
    width: 100%;
    margin-top: 5%;
  }

  .barner1{
    align-self: center;
    justify-content: center;
    width: 40%;
    height: auto;
  }

  .coversLanding{
    width: 100%;
    margin-top: 100px;
    margin-left: 20px;
  }

}

@media (max-width: 1500px) {

  .coversLanding{
    width: 100%;
    margin-top: 100px;
    margin-left: 20px;
  }

}

@media (max-width: 992px) {
  .searchForm {
    width: 100%;
  }


  .ant-carousel .slick-slide div {
    display: none;
  }

    .containerlanding{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      padding: 0 20px;
      align-self: center;
      justify-content: center;
      margin-top: 80px; 
      width: 100%;
      margin-top: 10%;
    }
    .barner1{
      align-self: center;
      justify-content: center;
      width: 90%;
      height: auto;
      margin: 5%;
    }

}

@media (max-width: 768px) {
  .bannerTitle1 {
    font-size: 46px;
  }
  .card-cont {
    text-decoration: none;
    padding: 0px 10px 0 0px;
  }

  .containerlanding{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0 20px;
    align-self: center;
    justify-content: center;
    margin-top: 80px; 
    width: 100%;
    margin-top: 10%;
  }

  .barner1{
    align-self: center;
    justify-content: center;
    width: 90%;
    height: auto;
    margin: 5%;
  }

  .ant-modal {
    width: 90% !important;
  }

  .col-md-8{
    margin-bottom: 210px;
  }

  .ant-modal-body {
    padding: 0;
  }

  .ant-modal-body .container.mt-5 {
    margin-top: 10px !important;
  }

}

@media (max-width: 640px) {
  .mobile-new-service {
    display: block;
    width: fit-content;
    position: fixed;
    bottom: 40px;
    left: 5%;
    z-index: 999;
  }

  .mobile-new-service .rounded_button {
    margin: 0;
    padding: 15px 30px;
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.26);
  }

  .ant-modal-content {
    margin-bottom: 70px;
  }

  .searchForm {
    width: 100%;
  }



}
