.container-payment {
  background-color: #eceff1;
  padding-top: 100px;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.cupon-icon {
  margin-top: 12px;
  font-size: 38px;
}

.payment-title {
  margin-top: 0px;
}

.payment-title h1 {
  color: #707174;
  font-weight: 200;
  font-family: Helvetica;
}

.payment-title p {
  color: #707174;
  font-weight: 200;
  font-family: Helvetica;
  font-size: 14px;
  margin-top: -20px;
}

.steps-content {
  margin-top: 16px;
  border: 1px dashed #e9e9e9;
  border-radius: 6px;
  background-color: #fafafa;
  min-height: 200px;
  padding-top: 80px;
  padding: 100px;
}

.steps-action {
  margin-top: 24px;
  margin-bottom: 100px;
}

.Panel {
  margin: 50px;
}

.paymentmetod-tittle p {
  margin-bottom: 50px;
}

.rat {
  margin-top: 60px;
  margin-bottom: 60px;
}

.precioconf {
  color: #95ca3e;
}

.ciu {
  margin-top: -20px;
}

.ant-radio-wrapper {
  white-space: initial;
}

.container.mt-5 {
  margin: 0 auto;
}

.inputtarjet {
  border: none;
  margin-bottom: 30px;
  border-bottom: 1px solid #ddd;
  width: 100%;
}

.tarjetas {
  margin-top: 30px;
  flex-direction: row;
}

.tarjetasdecredito {
  width: 280px;
  height: 60px;
  background-color: #eceff1;
  text-align: center;
  align-items: center;
  padding-top: 18px;
  padding-right: 30px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.check {
  color: #888;
}

.ant-checkbox-input {
  border: none;
  background-color: transparent;
  color: #95ca3e;
}

.imagen-confirmar {
  width: 150px;
  border-radius: 8px;
}

@media (max-width: 920px) {
  .steps-content {
    padding: 20px;
  }
}

@media (max-width: 620px) {
  .viewDirection {
    padding: 0;
  }
  .container-payment {
    padding-top: 10px;
  }

  .ant-col.ant-col-md-12 {
    width: 100%;
  }
  

  .ant-select.ant-select-enabled,
  .ant-form-item,
  .ant-input-number,
  .ant-calendar-picker {
    width: 100% !important;
  }

  .ant-card-meta-avatar {
    float: none;
    margin: 0 auto;
    padding: 0;
  }

  .ant-card-meta-avatar img {
    height: auto !important;
    width: 100%;
  }

  .ant-card-meta-title {
    white-space: initial;
    margin-top: 5px;
  }
}

@media (max-width: 600px) {
  .imagen-confirmar {
    width: 300px;
  }
}
