.register-page-content {
  background-color: #eceff1;
}

.register-page-content1 {
  background-color: #fff;
}

.shadowlogin{
  max-width: 400px;
  height: auto;
  background: white;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 12px 0 rgba(0,0,0,.08);
}

.login-form {
  max-width: 350px;
}

.login-form-forgot {
  display: inline-block;
  text-align: right;
}

.contLogin {
  max-width: 350px;
  height: auto;
  background: white;
  padding: 30px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.containerLogin1 {
  max-width: 400px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
}


.containerLogin {
  max-width: 400px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding-top: 120px;
}

.form-group input{
  width: 270px;
}

.form-control{
  width: 270px
}

.btn-primary {
  width: 270px;
}

.forgot{
  width: 270px;
  flex-direction: row;
  margin-bottom: 20px;
  margin-top: 20px;
  
}

.login-form-forgot{
  margin-left: 50px;
}

.contLogin h3{
  margin-bottom: -5px;
  text-align: center
}

.contLogin p{
  margin-bottom: 30px;
  text-align: center
}

.col-md-8{

}
@media (max-width: 640px) {
  .col-md-8{
    margin: 0;
  }
}

@media (max-width: 420px) {
  .col-md-8{
    margin: 0;
  }
}