.startverify {
  width: 100%;
  height: auto;
  background-color: #eceff1;
  color: #333;
  padding: 1rem;
  border-radius: 5px;
  margin-left: 10px;
  font-family: Helvetica;
  margin-bottom: 30px;
  margin-top: 20px;


}

.startverifychek {
  position: relative;
  float: left;
  margin-right: 20px;
}

.verified {
  color: #75787b;
  font-size: 14px;
}


.paginacion {
  float: right;
  margin-top: 20px;
}

.inFo{
  margin-bottom: 30px;
  margin-right: 10px;
}

.valor{
  border-bottom: 1px solid #ddd;
}

