.barber-shop-product {
  overflow: hidden;
  margin: 0;
  padding: 0;
  background:#fafafa;
}

.section_Ser{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 98%;
  max-width: 993px;
  margin-left: auto;
  margin-right: auto;
}

.Services_section{
  width: 95%;
  max-width: 670px;
  margin: 10px;
}

.Sec_migas{
  width: 300px;
  margin-left: auto;
  align-self: center;
 text-align: end;
 margin-right: 40px;
}

.Sec_title{
  width: 500px;
  margin: 10px;
}

.filter_section{
  width: 100%;
  max-width: 260px;
  height: auto;
  margin: 10px;
  margin-bottom: 50px;
}

.resul_from{
  width: 100%;
  height: 50px;
  background-color: white;
  margin-bottom: 15px;
  display: flex;
}

.Orde_sec{
  width: 100%;
  height: 50px;
  background-color: white;
  margin-bottom: 15px;
  display: flex;

}

.resul_from p{
  padding-top: 10px;
  color: #707174;
  font-size: 18px;
  font-weight: 500;
}

.maps{
  width: 100%;
  height: 300px;
  background-color: white;
  padding: 15px;
}

.filt_location{
  margin-top: 15px;
  width: 100%;
  height: 50px;
  background-color: white;
  padding: 15px;
}

.sec_price{
  margin-top: 15px;
  width: 100%;
  height: 130px;
  background-color: white;
  padding: 15px;
}

.Sec_category{
  margin-top: 15px;
  width: 100%;
  height: auto;
  background-color: white;
  padding: 15px;
}

.caat3ee{
  text-decoration: none;
  padding: 20px;
  font-size: 20px;
  color: #333;
}

.caat3ee:hover{
  color: #95ca3e;
}

.ulca{
  margin-top: 20px;
}

.ulca li{
 text-decoration: none;
 list-style: none;
 margin-bottom: 5px;
}

.ulca a {
  color: #777;
  font-size: 18px;
}

/* New Styles */

.filters-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 10px;
  text-align: left;
  margin-top: 100px;
  font-family: Helvetica;
}

.reul{
  font-weight: 300;
  color: #bbb;
  font-family: Helvetica;
}

.titlebus{
  color: #bbb;
  margin-top: -16px;
  font-family: Helvetica;
}

.page-loader {
  position: absolute;
  top: 520px;
  left: 49%;

}

.ant-spin{
  color: #95ca3e;
}

.Orde_sec{
  display: flex;
}

.Sec_orien{
  display: flex;
  margin-left: auto;
}

.Sec_border{
  border: 0.5px solid #bbb;
  height: 30px;
  width: 30px;
  margin-top: 10px;
  margin-right: 10px;
}

.pagination{
  justify-content: center;
  margin-bottom: 30px;
}

@media (max-width: 768px){
  .filter_section{
    width: 95%;
    max-width: 95%;
    height: auto;
    margin: 10px;
    margin-bottom: 50px;
  }

  .Services_section{
    width: 100%;
    max-width: 100%;
    margin: 10px;
  }

  .Sec_category{
    display: none;
  }

  .Sec_migas{
    display: none;
  }

  .Orde_sec{
    display: none;
  }

}

@media (max-width: 992px) {
  .filter_section{
    width: 100%;
    max-width: 100%;
    height: auto;
    margin: 10px;
    margin-bottom: 50px;
  }

  .Sec_category{
    display: none;
  }

  .Sec_migas{
    display: none;
  }

  .Services_section{
    width: 100%;
    max-width: 100%;
    margin: 10px;
  }
 
}

 

