.card-content {
  padding: 10px 40px 40px 40px;
}

.tab-card-title h4 {
  color: #1c3643;
  text-align: center;
  font-weight: bold;
}

.lo{
  margin-left: 20px;
}

.tab-input {
  width: 100%;
  border-radius: 0;
  padding-left: 15px;
  padding: 5px;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 1px solid #707070;
}

.tabs-forms {
  margin-top: 5%;
  padding-right: 20%;
}

.tabs-form-input {
  margin-top: 5%;
}

.text-black {
  color: #000;
}

address {
  color: #c4c4c4;
}

.bottomInput {
  padding: 5px;
  width: 100%;
  border-radius: 50px;
  color: #fff;
  background-color: #95ca3e;
}

.edit-btn {
  top: 50%;
  text-align: center;
  position: absolute;
  left: 50%;
}

.form-address {
  position: relative;
  padding-top: 30px;
}

.Tarjeta h5 {
  font-weight: bold;
}

.payment-input {
  padding: 8px;
  width: 100%;
  border-radius: 50px;
  border: 1px solid #ddd;
  background-color: transparent;
}

.tabs-button {
  padding-top: 30px;
}
