.card-services{
  width: 100%;
  max-width: 728px;
  height: 180px;
  background-color: white;
  margin-bottom: 30px;
  display: flex;
}

.imagenprod{
  width: 240px;
  height: 180px;
}

.titleanddes{
  padding: 20px;
}

.titleanddes h4{
  font-size: 17px;
  font-weight: 300;
  margin: 0;
  font-family: Helvetica;
  color: #455051;
  display: block;
  display: -webkit-box;
  max-width: 100%;
  height: 17px;
  margin: 0 auto;
  line-height: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: Helvetica;
}

.titleanddes span{
  font-weight: 200;
  font-size: 12px;
  color: #999;
  margin: 0;
  font-family: Helvetica;
}


.titleanddes p {
  display: block;
  display: -webkit-box;
  max-width: 100%;
  height: 52px;
  margin: 0 auto;
  line-height: 1.3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: Helvetica;
  font-weight: 100;
  font-size: 14px;
  color: #455051;
}

.btnSec1{
  max-width: 150px;
  height: 180px;
  border-left: 0.5px solid #ddd;
}

.btnsec{
  max-width: 150px;
  height: 100px;
  padding: 10px;
  margin-left: auto;
}

.sec_Btncontr{
  height: 80px;
  margin-top: 30px;
  justify-content: center;
  text-align: center;
}

.Btncontr{
  border: 1px solid #ddd;
  padding: 6px;
  border-radius: 5px;
}

.wilist{
  color: #db1111;
  font-size: 18px;
  margin-left: auto;
  margin-top: 5px;
}

.iconsec{
  height: 40px;
  margin-top: 10px;
  display: flex;
}

.price{
  text-align: center;
}

.price h3{
 margin: 0;
 color: #95ca3e;
 font-family: Helvetica;
}

.price p{
  font-family: Helvetica;
  margin-bottom: 2rem;
 }

 .price a {
   color: #455051;
 }

 @media (max-width: 992px){
  .card-services{
    width: 100%;
    max-width: 100%;
    height: 180px;
    background-color: white;
    margin-bottom: 30px;
    display: flex;
  }
  
 }

 @media (max-width: 600px){
  .card-services{
    width: 100%;
    height: 550px;
    display: flex;
    flex-direction: column;

  }

  .imagenprod{
    width: 100%;
    height: 250px;

   
  }
  
  
  .titleanddes p {
    display: block;
    display: -webkit-box;
    max-width: 100%;
    height: 52px;
    margin: 0 auto;
    margin-top: 10px;
    line-height: 1.3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: Helvetica;
    font-weight: 100;
    font-size: 14px;
    color: #455051;
  }
  
  .btnsec{
    max-width: 100%;
    height: 50px;
    padding: 10px;
    margin-left: 10px;
    display: flex;
    border-left: 0px;
    margin-top: -20px;
  }

  .price{
    text-align: center;
    width: 100%;
  }
  
  .price h3{
   color: #95ca3e;
   font-family: Helvetica;
   margin-left: 78%;
  }
  
  .price p{
    font-family: Helvetica;
    margin-left: 80%;
   }
  
   .price a {
     color: #455051;
   }

   .btnSec1{
    max-width: 100%;
    height: 180px;
    border-left: 0px;
  }

   .sec_Btncontr{
     width: 100%;
     height: 50px;
     margin-top: 40px;
     justify-content: center;
     text-align: center;

   }

   .iconsec{
    height: 25px;
    margin-top: 10px;
    display: flex;
  }

   .Btncontr{
     width: 100%;
     padding-left: 30%;
     padding-right: 30%;
   }
  
  
 }